@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Exile", sans-serif;
}
/* second font */
/* font-family: "Exile", system-ui; */
.custom-navbar-bg {
  background-color: #c605b1 !important;
  height: 4rem;
}


